body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
	max-width: 706px;
	width: 100%;
	// height: 319px;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 62px 20px;
	background: linear-gradient(-84deg, rgba(29, 29, 31, 0.70) 55.41%, rgba(0, 0, 0, 0.00) 100.23%), #040406;
	box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(7.5px);
	@media (max-width: em(630)){
		padding: 35px 20px;
		row-gap: 25px;
	}
	.lock & {
		visibility: visible;
	}
}

.popup {
	// .popup__wrapper

	// .popup__title
	&__title {
		@extend %poir-400;
		font-size: rem(32);
		line-height: math.div(30 , 32);
		color: #F7912C;
		@media (max-width: em(630)){
			font-size: rem(16);
			line-height: math.div(16 , 16);
		}
	}
	// .popup__text
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		row-gap: 10px;
		@extend %poir-400;
		font-size: rem(16);
		line-height: math.div(15 , 16);
		color: #fff;
		@media (max-width: em(630)){
			font-size: rem(11);
			line-height: math.div(11 , 11);
		}
	}
	// .popup__action

	// .popup__action-btn
	&__action-btn {
		padding: 7px 53px;
		background-color: #F7912C;
		color: #fff;
	}
	// .popup__close

}
