//.contact-form
.contact-form {
  background-image: url(../img/contact-form/bg-contact-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #070707;
  // .contact-form__container
  &__container {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  // .contact-form__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 143, 85, 1380, 1000, 1);
  }
  // .contact-form__item
  &__item {
    &:first-child{
      max-width: 510px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width:$tablet){
        align-items: center;
      }
    }
  }
  // .contact-form__title
  &__title {
    @extend %poir-400;
    font-size: rem(48);
    line-height: math.div(46 , 48);
    color: #fff;
    @media (max-width:$tablet){
      max-width: 248px;
      font-size: rem(32);
      line-height: math.div(30 , 32);
    }
  }
}
//.form
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 60px;
  // .form__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (max-width:$tablet){
      row-gap: 8px;
    }
  }
  // .form__item
  &__item {
    max-width: 450px;
    width: 100%;
  }
  // .form__input
  &__input {
    padding: 21px 21px 21px 10px;
    width: 100%;
    background: rgba(4, 4, 6, 0.70);
    box-shadow: 1px 1px 7px 2px rgba(6, 6, 6, 0.31) inset, 5px 6px 30.7px 1px rgba(29, 29, 29, 0.25);
    backdrop-filter: blur(7.5px);
    &::placeholder {
      @extend %poir-400;
      font-size: rem(20);
      line-height: math.div(19 , 20);
      // color: #fff;
      // color: $accent;
      color: #505050;
      @media (max-width:$tablet){
        font-size: rem(12);
        line-height: math.div(12 , 12);
      }
    }
    @media (max-width:$tablet){
      padding: 10px 10px 10px 6px;
    }
  }
  // .form__checkbox
  &__checkbox {
    padding-top: 13px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    @media (max-width:$tablet){
      column-gap: 15px;
    }
  }
  // .form__button-box
  &__button-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .form__button
  &__button {
    // padding: 15px 62px;
    // background-color: $accent;
    // @extend %poir-400;
    // font-size: rem(20);
    // line-height: math.div(19 , 20);
    // color: #fff;
  }
  @media (max-width:$tablet){
    row-gap: 20px;
  }
}
//.checkbox
.checkbox {
  // .checkbox__input
  &__input {

  }
  // .checkbox__label
  &__label {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: #fff;
    @media (max-width:$tablet){
      font-size: rem(14);
      line-height: math.div(14 , 14);
    }
  }
  // .checkbox__text
  &__text {

  }
}

.form__input:focus {
  outline: 1px solid $accent;
}

.form__input._form-error {
  outline: 2px solid #f00;
}
.checkbox__input._form-error {
  outline: 2px solid #f00;
}