//.main
//========================================================================================================================================================
.main {
  // .main__slider
  &__slider {
  }
  // .main__wrapper
  &__wrapper {
    pointer-events: none !important;
  }
  // .main__slide
  &__slide {
    position: relative !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px !important;
    @media (max-width: em(1390)){
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: 100% 50% !important;
      height: 500px !important;
    }
    @media (max-width: em(620)){
      background-size: 170%;
      background-position: 60% 0% !important;
    }
  }
  // .main__container
  &__container {
    display: flex;
    flex-direction: column;
  }
  // .main__content
  &__content {
    padding-top: 568px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 35px;
    z-index: 500 !important;
    @media (max-width: em(1390)){
      padding-top: 220px;
    }
    @media (max-width:$tablet){
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .main__title
  &__title-main {
    @extend %lato-800;
    font-size: rem(128);
    line-height: math.div(120 , 128);
    color: $white;
    @media (max-width: em(1390)){
      @include adaptiveValue("font-size", 128, 54, 1390, 1360, 1);
      @include adaptiveValue("line-height", 120, 50, 1390, 1360, 1);
    }
    @media (max-width:$tablet){
      font-size: rem(64);
      line-height: math.div(60 , 64);
    }
    @media (max-width: em(520)){
      font-size: rem(40);
      line-height: math.div(38 , 40);
    }
  }
  // .main__subtitle
  &__subtitle-main {
    @extend %lato-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
    @media (max-width: em(1390)){
      @include adaptiveValue("font-size", 48, 28, 1390, 1360, 1);
    }
    @media (max-width:$tablet){
      font-size: rem(32);
      line-height: math.div(30 , 32);
    }
    @media (max-width: em(520)){
      font-size: rem(24);
      line-height: math.div(23 , 24);
    }
  }

  &__title {
    display: inline-flex;
    @extend %lato-800;
    font-size: rem(64);
    line-height: math.div(60 , 64);
    color: $white;
    @media (max-width: em(1390)){
      @include adaptiveValue("font-size", 64, 38, 1390, 1360, 1);
      @include adaptiveValue("line-height", 60, 36, 1390, 1360, 1);
    }
    @media (max-width: em(550)){
      font-size: rem(32);
      line-height: math.div(38 , 32);
    }
  }

  &__subtitle {
    max-width: 732px;
    @extend %poir-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
    @media (max-width: em(1390)){
      @include adaptiveValue("font-size", 38, 26, 1390, 1360, 1);
    }
    @media (max-width: em(550)){
      font-size: rem(18);
      line-height: math.div(24 , 18);
    }
  }
  //main__subtitle-link
  &__subtitle-link {
    max-width: 732px;
    @extend %poir-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
    @media (max-width: em(1390)){
      @include adaptiveValue("font-size", 48, 32, 1390, 1360, 1);
    }
    @media (max-width: em(550)){
      font-size: rem(18);
      line-height: math.div(24 , 18);
    }
  }
  // .main__pagination
  &__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #070707;
    @media (max-width: em(1390)){
      bottom: 0;
    }
    @media (max-width:$tablet){
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: 1fr auto;
    }
  }
}
.main__pagination-custom {
  position: relative;
  bottom: 70px;
  width: 180px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.7;
  border-radius: 9px;
  background-color: rgba(52, 52, 52, 0.10);
  box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  p {
    text-align: center;
    @extend %poir-400;
    font-size: rem(16);
    line-height: 120%;
    color: $white !important;
  }
  &.swiper-pagination-bullet-active {
    border-radius: 9px;
    opacity: 0.7;
    background: #040406;
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
  }
  @media (max-width:$mobile){
    width: 148px;
    height: 108px;
  }
}

.main__pagination-custom {
  cursor: pointer;
  padding: 5px;
  @extend %poir-400;
  font-size: rem(16);
  line-height: 120%;
  text-align: center;
  color: $white;
  &:nth-child(2) {
    padding-left: 47px;
    padding-right: 47px;
  }
  &:nth-child(4) {
    padding-left: 35px;
    padding-right: 35px;
  }
  &:nth-child(5) {
    @media (max-width:$mobileSmall){
      width: 100%;
    }
  }
}

.main__subtitle-link {
  // display: none;
  pointer-events: none;
  // pointer-events: auto !important; 
  cursor: pointer;
  .swiper-slide-visible.swiper-slide-active & {
    display: inline-flex;
  }
}
.swiper-slide-visible.swiper-slide-active {
  .main__subtitle-link {
    pointer-events: auto;
  }
}

//========================================================================================================================================================

//.main-projects
//========================================================================================================================================================
.main-projects {
  //.main-projects__inner
  &__inner {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    column-gap: 220px;
    padding-left: max(15px, calc((100% - 1170px) / 2));
    padding-right: max(15px, calc((100% - 1440px) / 2));
    background-color: #070707;
  }
  // .main-projects__info
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      left: -132px;
      top: -93px;
      width: 610px;
      height: 339px;
    }
  }
  // .main-projects__title
  &__title {
    z-index: 5;
  }
  // .main-projects__subtitle
  &__subtitle {
    z-index: 5;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  //.main-projects__box
  &__box {

  }

  // .main-projects__slider
  &__slider {
    // height: 525px;
  }
  // .main-projects__wrapper
  &__wrapper {
    height: 505px !important;
    padding-bottom: 35px;
  }
  // .main-projects__slide
  &__slide {

  }
  // .main-projects__slide-item
  &__slide-item {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }
  // .main-projects__img-ibg
  &__img {
    overflow: hidden;
    // padding-bottom: percent(454, 380);
    img {
      // object-position: top;
      width: 380px;
      height: 454px;
    }
  }
  // .main-projects__slide-descr
  &__slide-descr {
    display: flex;
    justify-content: flex-end;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: right;
    &:nth-child(5) {
      // max-width: 206px;
    }
  }
  // .main-projects__pagination
  &__pagination {

    position: relative;
    left: 177px;
    display: flex;
    column-gap: 6px;
    // width: 100px;
    width: auto !important;
    // .main-projects__pagination + .swiper-pagination-bullet
    & .swiper-pagination-bullet {
      border-radius: 50%;
      width: 5px !important;
      height: 5px !important;
      background-color: #1E1E1E !important;
    }
    // .main-projects__pagination + .swiper-pagination-bullet-active
    & .swiper-pagination-bullet-active {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: $accent !important;
    }

    & .swiper-pagination-bullet-active-main {
      width: 5px !important;
      height: 5px !important;
      background-color: #ffffff !important;
    }
  }

}
/* hide bullets */
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active-main){
  // opacity: 0;
}

//========================================================================================================================================================

//.news
//========================================================================================================================================================
.news {
  background-color: #070707;
  // .news__inner
  &__inner {
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    column-gap: 265px;
  }
  // .news__items
  &__items {
    display: flex;
    column-gap: 107px;
  }
  // .news__item
  &__item {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 36px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
  // .news__img
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(178, 293);
    img {
      object-position: top;
    }
  }
  // .news__subtitle
  &__subtitle {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  // .news__date
  &__date {
    color: $accent;
  }
  // .news__date-text
  &__date-text {
  }
  //.news__link
  &__link {
    // @media (any-hover: hover){
    //   transition: color 0.3s ease 0s;
    //   &:hover{
    //     color: $accent;
    //   }
    // }
  }
}
.news-info {
  position: relative;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 55px;
  // .news-info__title
  &__title {
    z-index: 5;
  }
  // .news-info__subtitle
  &__subtitle {
    z-index: 5;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: right;
  }
  &::before{
    content:'';
    position: absolute;
    background-image: url(../img/all/title-decor-right.jpg);
    right: -130px;
    top: -83px;
    width: 560px;
    height: 339px;
  }
}
//========================================================================================================================================================

//.partners
//========================================================================================================================================================
.partners {
  background-color: #070707;
  // .partners__container
  &__container {
    padding-top: 5px;
    padding-bottom: 40px;
  }
  // .partners__inner
  &__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 216px;
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 61px;
  }
  // .partners__title
  &__title {
  }
  // .partners__items
  &__items {
    display: flex;
    align-items: center;
    column-gap: 83px;
  }
  // .partners__item
  &__item {
    width: 100%;
    height: 100%;
  }
  // .partners__img
  &__img {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//========================================================================================================================================================

//.contact-form

//go to the _contact-form.scss
