
//.current-project
//========================================================================================================================================================
.current-project {
  // .current-project__inner
  &__inner {
    position: relative;
    // padding-top: 230px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: max(15px, calc((100% - 1170px) / 2));
    padding-right: max(15px, calc((100% - 1440px) / 2));
    background-color: #070707;
    @media (max-width:$tablet){
      padding-top: 70px;
      padding-bottom: 25px;
    }
    @media (max-width: em(620)){
      padding-top: 40px;
      flex-direction: column;
      row-gap: 10px;
    }
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      left: -132px;
      top: 100px;
      width: 610px;
      height: 339px;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        left: -15px;
        top: 0;
      }
      @media (max-width: em(620)){
        width: 353px;
        height: 165px;
      }
    }
    @media (max-width: em(1380)){
      padding-top: 50px;
    }
  }
  // .current-project__title
  &__title {
    z-index: 5;
    @extend %poir-400;
    font-size: rem(32);
    line-height: math.div(31 , 32);
    color: $accent;
    @media (max-width:$mobileSmall){
      font-size: rem(20);
      line-height: math.div(19 , 20);
      row-gap: 20px;
    }
  }

  // .current-project__slider
  &__slider {
    position: relative;
    min-height: 884px;
  } 
  // .current-project__wrapper
  &__wrapper {
    padding-bottom: 35px;
  }
  // .current-project__slide
  &__slide {
    // max-width: 380px;

  }

  // .current-project__slide-item
  &__slide-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    @media (max-width:$tablet){
      row-gap: 10px;
    }
  }
  // .current-project__img
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(454, 380);
    img {
      object-position: top;
    }
  }
  // .current-project__slide-descr
  &__slide-descr {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: right;
    @media (max-width: em(1180)){
      font-size: rem(15);
      line-height: math.div(15 , 15);
    }
    @media (max-width:$tablet){
      row-gap: 50px;
      font-size: rem(14);
      line-height: math.div(14 , 14);
    }
    @media (max-width: em(620)){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  //.swiper-slide__info
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
  } 
  //.current-project__location
  &__location {
    font-size: 20px;
    @media (max-width: em(620)){
      font-size: rem(14);
      line-height: math.div(15 , 16);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(10 , 11);
    }
  }
  //.current-project__box
  &__box {
    display: none;
  }
  //.current-project__text
  &__text {
    
  }
  // .current-project__pagination
  &__pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    column-gap: 6px;
    width: auto !important;
    bottom: 300px;
    left: 50%;
    // .main-projects__pagination + .swiper-pagination-bullet
    & .swiper-pagination-bullet {
      border-radius: 50%;
      width: 5px !important;
      height: 5px !important;
      background-color: #1E1E1E !important;
    }
    // .main-projects__pagination + .swiper-pagination-bullet-active
    & .swiper-pagination-bullet-active {
      
    }

    & .swiper-pagination-bullet-active-main {
      width: 5px !important;
      height: 5px !important;
      background-color: #ffffff !important;
    }

    @media (max-width:$tablet){
      left: 52%;
      bottom: 200px;
      display: none;
    }
  }
  @media (max-width:$tablet){
    padding-top: 20px;
  }
}

//.current-project__slide.swiper-slide
.current-project__slide.swiper-slide {
  padding: 20px 10px 30px 10px;
  @media (max-width:$tablet){
    padding: 15px 10px;
  }
}

//.current-project__slide.swiper-slide.swiper-slide-active
.current-project__slide.swiper-slide.swiper-slide-active {
  background-color: #101115;
  box-shadow: 5px 6px 30.7px 1px rgba(29, 29, 29, 0.25);
  .current-project__slide-item {
    cursor: default !important;
    position: relative;
    row-gap: 80px;
    @media (max-width:$tablet){
      // padding: 15px 10px;
    }
    @media (max-width: em(590)){
      row-gap: 50px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 20px;
    }
    &::before{
      content:'';
      position: absolute;
      background-color: transparent;
      // background-color: #fff;
      width: 880px;
      height: 220px;
      left: 100%;
      bottom: -20px;
      z-index: 10;
      @media (max-width:$tablet){
        height: 170px;
      }
      @media (max-width: em(550)){
        height: 135px;
        bottom: -30px;
      }
      @media (max-width: em(450)){
        bottom: -10px;
      }
    }
  }
  //.current-project__slide-descr
  .current-project__slide-descr {
    @media (max-width: em(560)){
      row-gap: 30px;
    }
  }
  //.current-project__location
  .current-project__location {
    text-align: center;
    @media (max-width: em(1180)){
      font-size: rem(20);
      line-height: math.div(19 , 20);
    }
    @media (max-width: em(560)){
      font-size: rem(14);
      line-height: math.div(15 , 16);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(10 , 11);
    }
  }
  //.current-project__box
  .current-project__box {
    display: block;
  }
}

.current-project__slide.swiper-slide.swiper-slide-prev {

    .project-inner-prev,
    .project-inner-next {
    display: none;
  }


}

.current-project__slide.swiper-slide.swiper-slide-next {
    // pointer-events: auto;
    .project-inner-prev,
    .project-inner-next {
    display: none;
  }

  // & .project-inner__slide.swiper-slide.swiper-slide-active {
  //   pointer-events: none !important;
  // } 

}

@keyframes slidein {
  from {

  }

  to {

  }
}
//.project-inner
.project-inner {
  //.project-inner__slider
  &__slider {

  }
  //.project-inner__nav
  &__nav {
    position: relative;
    // display: flex;
    // justify-content: space-between;
  }
  //.project-inner__wrapper
  &__wrapper {

  }
  //.project-inner__slide
  &__slide {
  }

  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(454, 380);
    img {
      object-position: top;
    }
  }
  //.project-inner-prev
  &-prev {
    padding-right: 2px;
    position: absolute;
    left: 20px;
    top: 30%;
    transform: translateY(-30%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5 !important;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $accent;
      }
    }
    @media (max-width:$tablet){
      top: 35%;
      transform: translateY(-35%);
    }
    @media (max-width:$mobile){
      top: 30%;
      transform: translateY(-30%);
    }
    @media (max-width: em(620)){
      width: 18px;
      height: 18px;
      top: 28%;
      transform: translateY(-28%);
      left: 10px;
    }
    @media (max-width: em(420)){
      top: 25%;
      transform: translateY(-25%);
    }
    @media (max-width: em(390)){
      // top: 35%;
      // transform: translateY(-35%);
    }
  }
  //.project-inner-next
  &-next {
    padding-left: 2px;
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translateY(-30%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5 !important;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $accent;
      }
    }
    @media (max-width:$tablet){
      top: 35%;
      transform: translateY(-35%);
    }
    @media (max-width:$mobile){
      top: 30%;
      transform: translateY(-30%);
    }
    @media (max-width: em(620)){
      width: 18px;
      height: 18px;
      top: 28%;
      transform: translateY(-28%);
      right: 10px;
    }
    @media (max-width: em(420)){
      top: 25%;
      transform: translateY(-25%);
    }
    @media (max-width: em(390)){
      // top: 35%;
      // transform: translateY(-35%);
    }
  }
  //.project-inner__box
  &__box {
    max-width: 187px;
    display: flex;
    flex-direction: column;
    text-align: center;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(20 , 20);
    color: #fff;
    img {
      width: 7px;
      height: 12px;
    }
    @media (max-width:$mobileSmall){
      max-width: 95px;
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }

  &__btn-disabled {
    opacity: 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
}

.project-slide__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #040406;
  box-shadow: 1px 1px 7px 2px rgba(6, 6, 6, 0.31) inset, 5px 6px 30.7px 1px rgba(29, 29, 29, 0.25);
  backdrop-filter: blur(7.5px);
}