//.about
//========================================================================================================================================================
.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // .about__container
  &__container {
    padding-bottom: 102px;
    @media (max-width:$tablet){
      padding-bottom: 45px;
    }
  }
  // .about__heading
  &__heading {
    max-width: 450px;
    padding-top: 87px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 30px;
      row-gap: 12px;
    }
    @media (max-width: em(420)){
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
  // .about__title
  &__title {
    @extend %lato-700;
    font-size: rem(64);
    line-height: math.div(60 , 64);
    color: $white;
    @media (max-width:$tablet){
      font-size: rem(32);
      line-height: math.div(32 , 32);
    }
  }
  // .about__subtitle
  &__subtitle {
    @extend %lato-400;
    font-size: rem(32);
    line-height: math.div(30 , 32);
    color: $white;
    @media (max-width:$tablet){
      font-size: rem(24);
      line-height: math.div(24 , 24);
    }
  }
  // .about__items
  &__items {
    max-width: 340px;
    padding-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 68px;
    row-gap: 27px;
    @media (max-width:$tablet){
      column-gap: 54px;
      row-gap: 12px;
    }
    @media (max-width: em(420)){
      padding-bottom: 12px;
      column-gap: 38px;
      row-gap: 11px;
    }
  }
  // .about__wrapper
  &__wrapper {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(20 , 20);
    color: $white;
    @media (max-width:$tablet){
      row-gap: 12px;
      font-size: rem(16);
      line-height: math.div(16 , 16);
    }
    @media (max-width: em(420)){
      row-gap: 6px;
    }
  }
  // .about__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    @extend %poir-400;
    span {
      font-size: rem(24);
      line-height: math.div(23 , 24);
      color: $accent;
      @media (max-width:$tablet){
        font-size: rem(20);
        line-height: math.div(20 , 20);
      }
    }
    p {
      font-size: rem(20);
      line-height: math.div(19 , 20);
      color: $white;
      @media (max-width:$tablet){
        font-size: rem(16);
        line-height: math.div(16 , 16);
      }
    }
    @media (max-width:$tablet){
      row-gap: 8px;
    }
  }
  // .about__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    @media (max-width:$tablet){
      row-gap: 21px;
    }
    @media (max-width: em(420)){
      row-gap: 6px;
    }
  }
  // .about__content
  &__content {

  }
}
//========================================================================================================================================================

//.benefit
//========================================================================================================================================================
.benefit {
  // .benefit__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    @media (max-width:$tablet){
      padding-bottom: 25px;
    }
  }
  // .benefit__inner
  &__inner {
      @media (max-width: em(720)){
        display: flex;
        flex-direction: column-reverse;
        row-gap: 20px;
      }
      @media (max-width: $mobileSmall){
        row-gap: 10px;
      }
  }
  // .benefit__info
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      left: -132px;
      top: -93px;
      width: 610px;
      height: 339px;
      z-index: -1;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        left: -15px;
      }
      @media (max-width: em(620)){
        width: 353px;
        height: 165px;
        top: -50px;
      }
    }
    @media (max-width: em(1080)){
      max-width: 150px;
      row-gap: 20px;
    }
    @media (max-width: em(720)){
      max-width: 100%;
      row-gap: 10px;
    }
  }
  // .benefit__title
  &__title {
    z-index: 5;
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(14 , 14);
    }
  }
  // .benefit__subtitle
  &__subtitle {
    z-index: 5;
    max-width: 200px;
    @media (max-width:$mobileSmall){
      font-size: rem(12);
      line-height: math.div(12 , 12);
    }
  }
  // .benefit__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 20, 10, 1180, 1080, 1);
    // column-gap: 20px;
    row-gap: 20px;
    @media (max-width: em(720)){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(560)){
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
    @media (max-width: em(380)){
      grid-template-columns: 1fr;
    }
  }
  // .benefit__item
  &__item {
    position: relative;
    max-width: 280px;
    min-height: 334px;
    padding: 100px 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: #040406;
    box-shadow: 1px 1px 7px 2px rgba(6, 6, 6, 0.31) inset, 5px 6px 30.7px 1px rgba(29, 29, 29, 0.25);
    backdrop-filter: blur(7.5px);
    @extend %poir-400;
    font-size: rem(16);
    line-height: math.div(16 , 16);
      span {
        color: $accent;
      }
      p {
        color: $white;
      }
      @media (max-width: em(1180)){
        font-size: rem(14);
        line-height: math.div(14 , 14);
      }
      @media (max-width:$tablet){
        min-height: 217px;
        padding-top: 50px;
        padding-left: 20px;
      }
      @media (max-width:$mobileSmall){
        font-size: rem(12);
        line-height: math.div(12 , 12);
      }
      @media (max-width: em(420)){
        min-height: 150px;
        max-width: 100%;
        row-gap: 10px;
      }
    }
    //.benefit__img
    &__img {
      overflow: hidden;
      position: absolute;
      top: 48px;
      left: 18px;
      z-index: -1;
      img {
        width: 68px;
        height: 76px;
        @media (max-width:$tablet){
          width: 36px;
          height: 41px;
        }
      }
      @media (max-width:$tablet){
        top: 18px;
        left: 14px;
      }
    }
}
//========================================================================================================================================================

//.licenses
//========================================================================================================================================================
.licenses {
  padding-bottom: 65px;
  @media (max-width:$tablet){
    padding-bottom: 25px;
  }
  // .licenses__container
  &__container {
    padding-top: 60px;
    padding-bottom: 65px;
    @media (max-width:$tablet){
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (max-width:$mobileSmall){
      padding-bottom: 50px;
    }
  }
  // .licenses__inner
  &__inner {
    @media (max-width: em(420)){
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
  //.licenses__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2fr auto;
      row-gap: 20px;
    }
    @media (max-width: em(420)){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 10px;
    }
  }
  // .licenses__item
  &__item {
    padding-top: 10px;
    @media (max-width:$tablet){
      padding-top: 0;
      &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        @media (max-width: em(420)){
          // grid-column: 1 / 2;
        }
      }
      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2;
        @media (max-width: em(420)){
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }
      }
      &:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        @media (max-width: em(420)){
          grid-column: 1 / 2;
        }
      }
    }

    &:nth-child(4) {
      
    }
  }
  // .licenses__img-ibg
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(396, 280);
    img {
      object-position: top;
    }
  }
  // .licenses__info
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;
    row-gap: 50px;
    text-align: right;
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-right.jpg);
      width: 610px;
      height: 339px;
      right: -130px;
      top: -83px;
      z-index: -1;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        right: -15px;
      }
      @media (max-width: em(620)){
        width: 353px;
        height: 165px;
        top: -50px;
      }
    }
    @media (max-width: em(1080)){
      max-width: 150px;
      row-gap: 20px;
    }
    @media (max-width:$tablet){
      max-width: 100%;
      grid-column: 2 / 3;
    }
    @media (max-width: em(720)){
      max-width: 100%;
      row-gap: 10px;
    }
    @media (max-width: em(420)){
      // grid-column: 1 / 2;
      order: -1;
    }
  }
  // .licenses__title
  &__title {
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(14 , 14);
    }
  }
  // .licenses__subtitle
  &__subtitle {
    max-width: 250px;
    @media (max-width:$mobileSmall){
      font-size: rem(12);
      line-height: math.div(12 , 12);
    }
    @media (max-width: em(420)){
      max-width: 150px;
    }
  }
}
//========================================================================================================================================================

