
.housing {
  padding-left: max(15px, calc((100% - 1170px) / 2));
  padding-right: max(15px, calc((100% - 1440px) / 2));
  // .housing__container
  &__wrapper {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  // .housing__heading
  &__heading {
    
    @extend %heading;
  }
  // .housing__box
  &__box {
    @extend %hbox;
  }
  // .housing__title
  &__title {
    @extend %title;
  }
  // .housing__title-logo
  &__title-logo {
    @extend %title-logo;
  }
  // .housing__subtitle
  &__subtitle {
    max-width: 980px;
    @extend %text;
  }
  // .housing__technology
  &__technology {
    display: flex;
    flex-direction: column;
    row-gap: 43px;
  }
}
.housing-technology {
  // .housing-technology__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
  }
  // .housing-technology__title
  &__title {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $accent;
    @media (max-width:$mobileSmall){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
  }
  // .housing-technology__subtitle
  &__subtitle {
    max-width: 980px;
    @extend %text;
  }
  //.housing-technology__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  // .housing-technology__items
  &__items {
    padding-left: 41px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    row-gap: 17px;
  }
  // .housing-technology__item
  &__item {
    max-width: 450px;
    min-height: 84px;
    position: relative;
    padding: 23px 18px 23px 70px;
    display: flex;
    align-items: center;

    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    @media (max-width:$tablet){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  // .housing-technology__img
  &__img {
    position: absolute;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #26272C;
    filter: drop-shadow(-3px -4px 10.3px rgba(255, 255, 255, 0.25)) drop-shadow(3px 5px 10.6px rgba(0, 0, 0, 0.92));
  }
  // .housing-technology__text
  &__text {
  }
  // .housing-technology__info
  &__info {
    max-width: 990px;
    @extend %text;
  }
}

.housing {
  // .housing__feature
  &__feature {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
}
.housing-feature {
  // .housing-feature__heading
  &__heading {
    @extend %heading;
  }
  // .housing-feature__title
  &__title {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $accent;
    @media (max-width:$mobileSmall){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
  }
  // .housing-feature__subtitle
  &__subtitle {
    @extend %text;
  }
  // .housing-feature__items
  &__items {
    
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // .housing-feature__item
  &__item {
    max-width: 480px;
    padding: 32px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    border-radius: 9px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: center;
    @media (max-width:$tablet){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
    p {
      // width: 100%;
    }
  }
  //.housing-feature__text
  &__text {
    @extend %text;
  }
}

.feature-items {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    row-gap: 17px;
    
  }
  &:first-child{
    .feature-items__wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(320px, 480px));
      column-gap: 20px;
    }
  }
}
//========================================================================================================================================================


//========================================================================================================================================================
.housing-content {
  // .housing-content__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .housing-content__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  // .housing-content__item
  &__item {
    padding: 80px 44px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    @extend %text;
  }
  // .housing-content__title
  &__title {
    color: $accent;
  }
  // .housing-content__text
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}









