
//.contacts
//========================================================================================================================================================
.contacts {
  // .contacts__container
  &__container {
    padding-top: 85px;
    padding-bottom: 170px;
    @media (max-width:$tablet){
      padding-top: 95px;
      padding-bottom: 50px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 35px;
    }
  }
  // .contacts__inner
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      background-repeat: no-repeat;
      width: 614px;
      height: 339px;
      left: -132px;
      top: -10px;
      z-index: -1;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        top: -100px;
        left: -15px;
      }
      @media (max-width: em(740)){
        width: 214px;
        height: 119px;
        top: -30px;
      } 
    }
    &::after{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-right.jpg);
      background-repeat: no-repeat;
      width: 614px;
      height: 339px;
      right: -130px;
      top: 320px;
      z-index: -1;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        top: 35px;
        right: -15px;
      }
      @media (max-width: em(740)){
        // width: 214px;
        height: 119px;
        top: 100px;
      } 
    }
  }
  // .contacts__title
  &__title {
    @extend %poir-400;
    font-size: rem(64);
    line-height: math.div(60 , 64);
    color: $accent;
    @media (max-width:$tablet){
      font-size: rem(24);
      line-height: math.div(23 , 24);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(20);
      line-height: math.div(19 , 20);
    }
  }
  // .contacts__content
  &__content {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 95px;
    @extend %poir-400;
    color: $white;
    @media (max-width:$tablet){
      row-gap: 40px;
    }
  }
  // .contacts__info
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    p {
      font-size: rem(36);
      line-height: math.div(34 , 36);
      @media (max-width:$tablet){
        font-size: rem(16);
        line-height: math.div(15, 16);
      }
      @media (max-width:$mobileSmall){
        font-size: rem(14);
        line-height: math.div(13 , 14);
      }
    }
    @media (max-width:$tablet){
      row-gap: 20px;
    }
  }
  // .contacts__adress
  &__adress {
    max-width: 750px;
    font-style: normal;
    text-align: center;
    font-size: rem(32);
    line-height: math.div(30 , 32);
    @media (max-width:$tablet){
      font-size: rem(16);
      line-height: math.div(15, 16);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(12);
      line-height: math.div(11 , 12);
    }
  }
  // .contacts__action
  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    span {
      font-size: rem(36);
      line-height: math.div(34 , 36);
      @media (max-width:$tablet){
        font-size: rem(16);
        line-height: math.div(15, 16);
      }
      @media (max-width:$mobileSmall){
        font-size: rem(14);
        line-height: math.div(13 , 14);
      }
    }
    @media (max-width:$tablet){
      row-gap: 20px;
    }
  }
  // .contacts__items
  &__items {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: rem(32);
    line-height: math.div(30 , 32);
    @media (max-width:$tablet){
      font-size: rem(15);
      line-height: math.div(14, 15);
    }
    @media (max-width:$mobileSmall){
      font-size: rem(12);
      line-height: math.div(11 , 12);
    }
  }
}
//========================================================================================================================================================

//.map
//========================================================================================================================================================
.map {
  // .map__container
  &__container {
    padding-top: 170px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:$tablet){
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }
  // .map__wrapper
  &__wrapper {
    padding: 0 15px;
    width: 980px;
    height: 480px;
    @media (max-width:$tablet){
      width: 652px;
      height: 360px;
    }
    @media (max-width:$mobile){
      width: 500px;
      height: 320px;
    }
    @media (max-width: em(540)){
      width: 400px;
      height: 320px;
    } 
    @media (max-width: em(420)){
      width: 317px;
      height: 260px;
    } 
  }
}


