
//.industrial
//========================================================================================================================================================
.industrial {
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: max(15px, calc((100% - 1170px) / 2));
  padding-right: max(15px, calc((100% - 1440px) / 2));
  // .industrial__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width: em(620)){
      background-image: none !important;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial__heading
  &__heading {
    @extend %heading;
  }
  // .industrial__box
  &__box {
    @extend %hbox;
  }
  // .industrial__title
  &__title {
    @extend %title;
  }
  // .industrial__title-logo
  &__title-logo {
    @extend %title-logo;
  }
  // .industrial__text
  &__text {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @extend %text;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial__building
  &__building {
    display: flex;
    flex-direction: column;
    row-gap: 43px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  @media (max-width:$tablet){
    padding-top: 15px;
  }
  @media (max-width:$mobileSmall){
    padding-bottom: 20px;
  }
}
//========================================================================================================================================================

//.industrial-types
//========================================================================================================================================================
.industrial-types {

  //.industrial-types__container
  &__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-types__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-types__title
  &__title {
    @extend %title;
  }
  // .industrial-types__subtitle
  &__subtitle {
    @extend %text;
  }
  // .industrial-types__content
  &__content {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 20px;
    row-gap: 20px;

  }
  // .industrial-types__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding: 30px 20px;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    &:nth-child(3) {
      grid-column: span 2;
    }
  }
}
.industrial-inner {
  // .industrial-inner__title
  &__title {
    @extend %text;
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  // .industrial-inner__items
  &__items {
  }
  // .industrial-inner__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 30px;
    @extend %text;
    span {
      color: $accent;
    }
    @media (max-width:$tablet){
      row-gap: 13px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 20px;
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  // .industrial-inner__item
  &__item {
  }
}

//========================================================================================================================================================


.industrial-building {
  // .industrial-building__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-building__title
  &__title {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $accent;
    @media (max-width:$mobileSmall){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
  }
  // .industrial-building__subtitle
  &__subtitle {
    max-width: 1180px;
    @extend %text;
  }
  //.industrial-building__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // .industrial-building__items
  &__items {
    padding-left: 41px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      padding-left: 27px;
      // column-gap: 48px;
      @include adaptiveValue("column-gap", 48, 40, 768, 620, 1);
    }
    @media (max-width: em(620)){
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-building__item
  &__item {
    position: relative;
    max-width: 1050px;
    min-height: 84px;
    padding: 23px 18px 23px 70px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    @media (max-width:$tablet){
      padding: 13px 18px 13px 45px;
      min-height: 54px;
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
    @media (max-width: em(620)){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  // .industrial-building__img
  &__img {
    position: absolute;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #26272C;
    filter: drop-shadow(-3px -4px 10.3px rgba(255, 255, 255, 0.25)) drop-shadow(3px 5px 10.6px rgba(0, 0, 0, 0.92));
    img {
      @media (max-width:$tablet){
        width: 25px;
        height: 25px;
      }
    }
    @media (max-width:$tablet){
      width: 54px;
      height: 54px;
      left: -27px;
    }
  }
}

.industrial {
  // .industrial__feature
  &__feature {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @media (max-width:$tablet){
      padding-top: 20px;
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 10px;
      row-gap: 10px;
    }
  }
}
.industrial-feature {
  // .industrial-feature__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width:$tablet){
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-feature__title
  &__title {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $accent;
    @media (max-width:$mobileSmall){
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
  }
  // .industrial-feature__subtitle
  &__subtitle {
    @extend %text;
  }
  //.industrial-feature__inner
  &__inner {
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-feature__items
  &__items {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @media (max-width:$tablet){
      margin-bottom: 0;
    }
  }
  // .industrial-feature__item
  &__item {
    max-width: 1050px;
    min-height: 84px;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    background-color: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    border-radius: 9px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: left;
    @media (max-width:$tablet){
      padding: 22px 30px;
      font-size: rem(15);
      line-height: math.div(14 , 15);
    }
    @media (max-width: em(620)){
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  //.industrial-feature__text
  &__text {
    @extend %text;
  }
}

.feature-items {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    row-gap: 20px;
    @media (max-width:$tablet){
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  &:first-child{
    .feature-items__wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(280px, 480px));
      column-gap: 20px;
      @media (max-width: em(620)){
        display: flex;
        flex-direction: column;
      }
      @media (max-width:$mobileSmall){
        row-gap: 10px;
      }
    }
  }
}
//========================================================================================================================================================

//.industrial-content
//========================================================================================================================================================
.industrial-content {
  // .industrial-content__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:$tablet){
      padding-bottom: 20px;
    }
    @media (max-width:$mobileSmall){
      padding-top: 20px;
    }
  }
  // .industrial-content__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
  // .industrial-content__item
  &__item {
    padding: 80px 44px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    @extend %text;
    @media (max-width:$tablet){
      padding: 50px 40px;
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      padding: 20px 25px;
      row-gap: 10px;
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  // .industrial-content__title
  &__title {
    color: $accent;
  }
  // .industrial-content__text
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width:$tablet){
      row-gap: 15px;
    }
    @media (max-width:$mobileSmall){
      row-gap: 10px;
    }
  }
}
//========================================================================================================================================================

//.industrial-info
//========================================================================================================================================================
.industrial-info {
  padding-top: 50px;
  padding-bottom: 120px;
  padding-left: max(15px, calc((100% - 1170px) / 2));
  padding-right: max(15px, calc((100% - 1440px) / 2));
  // .industrial-info__wrapper
  &__wrapper {
    
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width:$tablet){
      @include adaptiveValue("padding-bottom", 280, 100, 1000, 620, 1);
      background-position: bottom;
    }
    @media (max-width: em(620)){
      padding-bottom: 0;
      background-image: none !important;
    }
  }
  // .industrial-info__text
  &__text {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %text;
  }
  @media (max-width:$tablet){
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
//========================================================================================================================================================









