
//.construction
//========================================================================================================================================================
.construction {
  padding-left: max(15px, calc((100% - 1170px) / 2));
  padding-right: max(15px, calc((100% - 1440px) / 2));
  // .construction__wrapper
  &__wrapper {
    padding-top: 40px;
    // padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  // .construction__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  // .construction__box
  &__box {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .construction__title
  &__title {
    @extend %title;
  }
  // .construction__title-logo
  &__title-logo {
    overflow: hidden;
    img {
      width: 41px;
      height: 53px;
    }
  }
  // .construction__subtitle
  &__subtitle {
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  // .construction__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 120px;
  }
  // .construction__info
  &__info {
    max-width: 580px;
    padding: 38px 167px 38px 20px;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    @extend %poir-400;
    font-size: rem(24);
    line-height: math.div(23 , 24);
    color: $white;
  }
  // .construction__inner
  &__inner {
    max-width: 580px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    @extend %poir-400;
    color: $white;
  }
}
.construction-inner {
  // .construction-inner__title
  &__title {
    font-size: rem(24);
    line-height: math.div(23 , 24);
  }
  // .construction-inner__items
  &__items {
  }
  // .construction-inner__list
  &__list {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    font-size: rem(20);
    line-height: math.div(19 , 20);
  }
  // .construction-inner__item
  &__item {
    
  }
}
//========================================================================================================================================================

//.finishes
//========================================================================================================================================================
.finishes {
  padding-top: 60px;
  padding-bottom: 75px;
  padding-right: max(15px, calc((100% - 1170px) / 2));
  padding-left: max(15px, calc((100% - 1440px) / 2));
  // .finishes__wrapper
  &__wrapper {
    padding-top: 175px;
    padding-bottom: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: max(15px, calc((100% - 1170px) / 2));
    background-position: left;
  }
  //.finishes__content
  &__content {
    // min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
  }
  // .finishes__box
  &__box {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .finishes__title
  &__title {
    @extend %title;
  }
  // .finishes__title-logo
  &__title-logo {
    img {
      width: 41px;
      height: 53px;
    }
  }
  // .finishes__inner
  &__inner {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  // .finishes__item
  &__item {
  }
}
//========================================================================================================================================================

//.reconstruction
//========================================================================================================================================================
.reconstruction {
  padding-left: max(15px, calc((100% - 1170px) / 2));
  padding-right: max(15px, calc((100% - 1440px) / 2));
  padding-top: 75px;
  padding-bottom: 45px;
  // .reconstruction__wrapper
  &__wrapper {
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
  }
  // .reconstruction__content
  &__content {

    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  // .reconstruction__box
  &__box {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .reconstruction__title
  &__title {
    @extend %title;
  }
  // .reconstruction__title-logo
  &__title-logo {
    img {
      width: 41px;
      height: 53px;
    }
  }
  // .reconstruction__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    color: $white;
  }
  // .reconstruction__info
  &__info {
    max-width: 580px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
  }
  // .reconstruction__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  // .reconstruction__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    padding: 32px;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
  }
}
//========================================================================================================================================================

//.heating
//========================================================================================================================================================
.heating {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: max(15px, calc((100% - 1170px) / 2));
  padding-left: max(15px, calc((100% - 1440px) / 2));
  // .heating__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  // .heating__content
  &__content {
    max-width: 593px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    grid-column: 2 / 3;
    justify-self: end;

  }
  // .heating__box
  &__box {
    max-width: 453px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  // .heating__title
  &__title {
    @extend %title;
  }
  // .heating__title-logo
  &__title-logo {
  }
  // .heating__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  // .heating__info
  &__info {
    max-width: 580px;
  }
  // .heating__items
  &__items {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .heating__item
  &__item {
    max-width: 480px;
    padding: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: rgba(116, 113, 113, 0.10);
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
  }
  // .heating__desc
  &__desc {
    max-width: 593px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    span {
      color: $accent;
    }
  }
}

