
//.current-project
//========================================================================================================================================================
.current-project {
  // .current-project__inner
  &__inner {
    position: relative;
    padding-top: 230px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: max(15px, calc((100% - 1170px) / 2));
    padding-right: max(15px, calc((100% - 1440px) / 2));
    background-color: #070707;
    @media (max-width:$tablet){
      padding-top: 70px;
      padding-bottom: 25px;
    }
    @media (max-width: em(620)){
      padding-top: 40px;
      flex-direction: column;
      row-gap: 10px;
    }
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      left: -132px;
      top: 100px;
      width: 610px;
      height: 339px;
      @media (max-width:$tablet){
        width: 404px;
        height: 223px;
        left: -15px;
      }
      @media (max-width: em(620)){
        width: 353px;
        height: 165px;
        top: -50px;
      }
    }
  }
  // .current-project__title
  &__title {
    z-index: 5;
    @extend %poir-400;
    font-size: rem(32);
    line-height: math.div(31 , 32);
    color: $accent;
    @media (max-width:$mobileSmall){
      row-gap: 20px;
    }
  }

  // .current-project__slider
  &__slider {
    position: relative;

  }
  // .current-project__wrapper
  &__wrapper {
    padding-bottom: 35px;
  }
  // .current-project__slide
  &__slide {
    // max-width: 380px;

  }
  // .current-project__slide-item
  &__slide-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    @media (max-width:$tablet){
      row-gap: 10px;
    }
  }
  // .current-project__img
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(454, 380);
    img {
      object-position: top;
    }
  }
  // .current-project__slide-descr
  &__slide-descr {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: right;
    @media (max-width: em(1180)){
      font-size: rem(15);
      line-height: math.div(15 , 15);
    }
    @media (max-width:$tablet){
      row-gap: 50px;
      font-size: rem(14);
      line-height: math.div(14 , 14);
    }
    @media (max-width: em(620)){
      font-size: rem(11);
      line-height: math.div(11 , 11);
    }
  }
  //.swiper-slide__info
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
  } 
  //.current-project__location
  &__location {
    font-size: 20px;
    @media (max-width:$tablet){
    }
  }
  //.current-project__box
  &__box {
    display: none;
  }
  //.current-project__text
  &__text {
    
  }
  // .current-project__pagination
  &__pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    column-gap: 6px;
    width: auto !important;
    bottom: 230px;
    left: 50%;
    // .main-projects__pagination + .swiper-pagination-bullet
    & .swiper-pagination-bullet {
      border-radius: 50%;
      width: 5px !important;
      height: 5px !important;
      background-color: #1E1E1E !important;
    }
    // .main-projects__pagination + .swiper-pagination-bullet-active
    & .swiper-pagination-bullet-active {
      
    }

    & .swiper-pagination-bullet-active-main {
      width: 5px !important;
      height: 5px !important;
      background-color: #ffffff !important;
    }

    @media (max-width:$tablet){
      left: 52%;
    }
    @media (max-width: em(450)){
      bottom: 260px;
    }

  }
  @media (max-width:$tablet){
    padding-top: 20px;
  }
}

.current-project__slide {
  
}

.current-project__slide.swiper-slide.swiper-slide-active {
  background-color: #101115;
  box-shadow: 5px 6px 30.7px 1px rgba(29, 29, 29, 0.25);
  .current-project__slide-item {
    position: relative;
    padding: 20px 15px;
    row-gap: 80px;
    @media (max-width:$tablet){
      padding: 15px 10px;
    }
    &::before{
      content:'';
      position: absolute;
      background-color: #fff;
      width: 880px;
      height: 270px;
      left: 100%;
      bottom: -40px;
      z-index: 10;
      @media (max-width:$tablet){
        height: 250px;
      }
      @media (max-width: em(520)){
        height: 270px;
      }
    }
  }

  .current-project__location {
    text-align: center;
    @media (max-width: em(1180)){
      font-size: rem(20);
    }
  }

  .current-project__box {
    display: block;
  }
}

.current-project__slide.swiper-slide.swiper-slide-next {
  max-height: 550px !important;
  @media (max-width: em(1260)){
    max-height: 510px !important;
  }
  @media (max-width:$tablet){
    max-height: 555px !important;
  }
}

.current-project__slide.swiper-slide.swiper-slide-duplicate-prev {
  
  max-height: 550px !important;
  @media (max-width: em(1260)){
    max-height: 510px !important;
  }
}

@keyframes slidein {

  from {

  }

  to {

  }
}
//.project-inner
.project-inner {
  //.project-inner__slider
  &__slider {

  }
  //.project-inner__nav
  &__nav {
    position: relative;
    // display: flex;
    // justify-content: space-between;
  }
  //.project-inner__wrapper
  &__wrapper {

  }
  //.project-inner__slide
  &__slide {
  }

  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(454, 380);
    img {
      object-position: top;
    }
  }
  //.project-inner-prev
  &-prev {
    padding-right: 2px;
    position: absolute;
    left: 5%;
    top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5 !important;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $accent;
      }
    }
  }
  //.project-inner-next
  &-next {
    padding-left: 2px;
    position: absolute;
    right: 5%;
    top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5 !important;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $accent;
      }
    }
  }
}

.project-inner__slide.swiper-slide.swiper-slide-active {
  max-width: 480px;
  max-height: 550px !important;
}