//====================================================================================================
.header {
	z-index: 2;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	// .header__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 35px;
	}
	// .header__top
	&__top {
		padding-top: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		img {
			width: 183px;
			height: 52px;
		}
	}
	// .header__langs
	&__langs {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 45px;
		@extend %poir-400;
		font-size: rem(16);
		line-height: 120%;
		color: $white;
		&::before{
			content:'';
			position: absolute;
			height: 14px;
			width: 0.5px;
			background-color: #fff;
			top: 2px;
			right: 45%;
		}
	}
	// .header__langs-ru
	&__langs-ru {
	}
	// .header__langs-link
	&__langs-link {
		@media (any-hover: hover){
			transition: color 0.3s ease 0s;
			&:hover{
				color: $accent;
			}
		}
	}
	// .header__langs-en
	&__langs-en {
	}
	// .header__bottom
	&__bottom {
		display: flex;
		justify-content: center;
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
	}
}
.menu {
	//.menu__wrapper
	&__wrapper {
		display: flex;
		justify-content: flex-end;
		position: relative;
		@media (max-width:$tablet){
			position: fixed;
			flex-direction: column;
			// justify-content: space-between;
			padding-top: 80px;
			right: -100%;
			top: 0;
			width: calc(100% - 20px);
			height: 100%;
			overflow: auto;
			transition: right 0.3s ease 0s;
			background-color: #fff;
			z-index: 5;
			.menu-open & {
				z-index: 5;
				right: 10px;
				top: 0;
				&::before {
					right: 0;
				}
			}
		}
	}
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: 35px;
		@extend %poir-400;
		font-size: rem(24);
		line-height: 120%;
		color: $white;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (any-hover: hover){
			transition: color 0.3s ease 0s;
			&:hover{
				color: $accent;
			}
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(26);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		top: 0;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #ffffff;
		}
		&::before {
			top: 0;
		}
		&::after {
			// width: rem(12);
			left: 0;
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			padding: 14px;
			background-color: #fff;
			margin-right: 5px;
			border-radius: 50%;
			span {
				
				width: 0;
			}
			&::before,
			&::after {
				// width: 100%;
				width: 14px;
			}
			&::before {
				// top: calc(50% - rem(1));
				top: calc(50% - 1px);
				transform: rotate(-45deg);
				right: 7px;
			}
			&::after {
				// bottom: calc(50% - rem(1));
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
				left: 7px;
			}
		}

	}
}