//====================================================================================================
.header {
	z-index: 2;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	// .header__container
	&__container {
		// padding-bottom: 45px;
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		@media (max-width: em(1390)){
			row-gap: 15px;
		}
	}
	// .header__top
	&__top {
		padding-top: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 50;
		img {
			width: 183px;
			height: 52px;
			@media (max-width:$tablet){
				width: 148px;
				height: 37px;
			}
			@media (max-width:$mobileSmall){
				width: 112px;
				height: 28px;
			}
		}
	}
	// .header__langs
	&__langs {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 45px;
		@extend %poir-400;
		font-size: rem(16);
		line-height: 120%;
		color: $white;
		&::before{
			content:'';
			position: absolute;
			height: 14px;
			width: 0.5px;
			background-color: #fff;
			top: 2px;
			right: 45%;
		}
	}
	// .header__langs-ru
	&__langs-ru {
	}
	// .header__langs-link
	&__langs-link {
		@media (any-hover: hover){
			transition: color 0.3s ease 0s;
			&:hover{
				color: $accent;
			}
		}
	}
	// .header__langs-en
	&__langs-en {
	}
	// .header__bottom
	&__bottom {
		display: flex;
		justify-content: center;
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
	}
}
.menu {
	//.menu__wrapper
	&__wrapper {
		display: flex;
		justify-content: flex-end;
		position: relative;
		@media (max-width:$tablet){
			padding: 30px 40px 30px 70px;
			position: fixed;
			flex-direction: column;
			row-gap: 30px;
			background: #2dda58;
			// justify-content: space-between;
			// padding-top: 80px;
			right: -100%;
			top: 80px;
			// width: calc(100% - 20px);
			// height: 100%;
			// width: 200px;
			// height: 380px;
			overflow: auto;
			transition: right 0.3s ease 0s;
			// background-color: #fff;
			z-index: 5;
			background-color: #040406;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			.menu-open & {
				z-index: 5;
				// right: 10px;
				// top: 0;
				right: 70px;
				top: 90px;
				&::before {
					right: 0;
				}
			}
		}
	}
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: 35px;
		@extend %poir-400;
		font-size: rem(24);
		line-height: 120%;
		color: $white;
		@media (max-width: em(1390)){
			@include adaptiveValue("font-size", 24, 18, 1390, 1360, 1);
		}
		@media (max-width:$tablet){
			flex-direction: column;
			justify-content: center;
			row-gap: 28px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			align-items: flex-end;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (any-hover: hover){
			transition: color 0.3s ease 0s;
			&:hover{
				color: $accent;
			}
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(43);
		height: rem(18);
		cursor: pointer;
		z-index: 50;
		top: 0;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #ffffff;
		}
		&::before {
			top: 0;
		}
		&::after {
			// width: rem(12);
			left: 0;
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			padding: 20px;
			background-color: #fff;
			margin-right: 5px;
			border-radius: 50%;
			span {
				width: 0;
			}
			&::before,
			&::after {
				background-color: #000000;
				// width: 100%;
				width: 18px;
			}
			&::before {
				// top: calc(50% - rem(1));
				top: calc(50% - 1px);
				transform: rotate(-45deg);
				right: 12px;
			}
			&::after {
				// bottom: calc(50% - rem(1));
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
				left: 12px;
			}
		}

	}
}