//.main
//========================================================================================================================================================
.main {
  // .main__slider
  &__slider {
  }
  // .main__wrapper
  &__wrapper {
    pointer-events: none !important;
  }
  // .main__slide
  &__slide {
    position: relative !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px !important;
  }
  // .main__img
  // &__img {
  //   width: 100%;
  //   height: 1000px;
  //   img {
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     height: 100%;
  //     width: 100%;
  //   }
  // }
  // .main__container
  &__container {
    display: flex;
    flex-direction: column;
  }
  // .main__content
  &__content {
    padding-top: 568px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 35px;
    z-index: 500 !important;
  }
  // .main__title
  &__title-main {
    @extend %lato-800;
    font-size: rem(128);
    line-height: math.div(120 , 128);
    color: $white;
  }
  // .main__subtitle
  &__subtitle-main {
    @extend %lato-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
  }

  &__title {
    display: inline-flex;
    @extend %lato-800;
    font-size: rem(64);
    line-height: math.div(60 , 64);
    color: $white;
  }

  &__subtitle {
    max-width: 732px;
    @extend %poir-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
  }
  //main__subtitle-link
  &__subtitle-link {
    // pointer-events: auto !important; 
    // cursor: pointer !important;
    max-width: 732px;
    @extend %poir-400;
    font-size: rem(48);
    line-height: math.div(45 , 48);
    color: $accent;
  }
  // .main__pagination
  &__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #070707;
  }
}
.main__pagination-custom {
  position: relative;
  bottom: 70px;
  width: 180px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.7;
  border-radius: 9px;
  background-color: rgba(52, 52, 52, 0.10);
  box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  p {
    text-align: center;
    @extend %poir-400;
    font-size: rem(16);
    line-height: 120%;
    color: $white !important;
  }
  &.swiper-pagination-bullet-active {
    border-radius: 9px;
    opacity: 0.7;
    background: #040406;
    box-shadow: 1px 1px 7px -4px rgba(6, 6, 6, 0.31) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
  }
}

.main__pagination-custom {
  cursor: pointer;
  padding: 5px;
  @extend %poir-400;
  font-size: rem(16);
  line-height: 120%;
  text-align: center;
  color: $white;
  &:nth-child(2) {
    padding-left: 47px;
    padding-right: 47px;
  }
  &:nth-child(4) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.main__subtitle-link {
  // display: none;
  pointer-events: none;
  // pointer-events: auto !important; 
  cursor: pointer;
  .swiper-slide-visible.swiper-slide-active & {
    display: inline-flex;
  }
}
.swiper-slide-visible.swiper-slide-active {
  .main__subtitle-link {
    pointer-events: auto;
  }
}

// .swiper {
// }
// .swiper-wrapper {
  
// }
// .swiper-slide {
// }
// .swiper-pagination {
// }

//========================================================================================================================================================

//.main-projects
//========================================================================================================================================================
.main-projects {
  //.main-projects__inner
  &__inner {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    column-gap: 220px;
    padding-left: max(15px, calc((100% - 1170px) / 2));
    padding-right: max(15px, calc((100% - 1440px) / 2));
    background-color: #070707;
  }
  // .main-projects__info
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    &::before{
      content:'';
      position: absolute;
      background-image: url(../img/all/title-decor-left.jpg);
      left: -132px;
      top: -93px;
      width: 610px;
      height: 339px;
    }
  }
  // .main-projects__title
  &__title {
    z-index: 5;
  }
  // .main-projects__subtitle
  &__subtitle {
    z-index: 5;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
  }
  //.main-projects__box
  &__box {

  }

  // .main-projects__slider
  &__slider {
    // height: 525px;
  }
  // .main-projects__wrapper
  &__wrapper {
    height: 505px !important;
    padding-bottom: 35px;
  }
  // .main-projects__slide
  &__slide {

  }
  // .main-projects__slide-item
  &__slide-item {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }
  // .main-projects__img-ibg
  &__img {
    overflow: hidden;
    // padding-bottom: percent(454, 380);
    img {
      // object-position: top;
      width: 380px;
      height: 454px;
    }
  }
  // .main-projects__slide-descr
  &__slide-descr {
    display: flex;
    justify-content: flex-end;
    @extend %poir-400;
    font-size: rem(20);
    line-height: math.div(19 , 20);
    color: $white;
    text-align: right;
    &:nth-child(5) {
      // max-width: 206px;
    }
  }
  // .main-projects__pagination
  &__pagination {
    position: relative;
    left: 177px;
    display: flex;
    column-gap: 6px;
    max-width: 270px;
    // .main-projects__pagination + .swiper-pagination-bullet
    & .swiper-pagination-bullet {
      border-radius: 50%;
      width: 5px !important;
      height: 5px !important;
      background: #1E1E1E;
    }
    // .main-projects__pagination + .swiper-pagination-bullet-active
    & .swiper-pagination-bullet-active {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: $white;
    }
  }

}



//========================================================================================================================================================
