//====================================================================================================
.main {
  // .main__slider
  &__slider {
  }
  // .main__wrapper
  &__wrapper {
  }
  // .main__slide
  &__slide {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    &:nth-child(2) {
      .main__title {
        @extend %lato-800;
        font-size: rem(64);
        line-height: math.div(60 , 60);
      }
      .main__subtitle {
        max-width: 732px;
        @extend %poir-400;
        font-size: rem(48);
        line-height: math.div(46 , 48);
      }
    }
    &:nth-child(3) {
      .main__title {
        @extend %lato-800;
        font-size: rem(64);
        line-height: math.div(60 , 60);
      }
      .main__subtitle {
        max-width: 850px;
        @extend %poir-400;
        font-size: rem(48);
        line-height: math.div(46 , 48);
      }
    }
    &:nth-child(4) {
      .main__title {
        @extend %lato-800;
        font-size: rem(64);
        line-height: math.div(60 , 60);
      }
      .main__subtitle {
        max-width: 850px;
        @extend %poir-400;
        font-size: rem(48);
        line-height: math.div(46 , 48);
      }
    }
    &:nth-child(5) {
      
    }
  }
  // .main__content
  &__content {
    padding-top: 570px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
  }
  // .main__title
  &__title {
    @extend %lato-800;
    font-size: rem(128);
    line-height: math.div(120 , 128);
    color: $white;
  }
  // .main__subtitle
  &__subtitle {
    @extend %lato-400;
    font-size: rem(48);
    line-height: math.div(46 , 48);
    color: $accent;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}

//====================================================================================================
