// Цвета
$accent: #F7912C;
$white: #ffffff;



// скрытие для чекбокса, радио (для своих стилей)
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

%lato-400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

%lato-700 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

%lato-800 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

%lato-900 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

%mont-300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

%mont-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%poir-400 {
  font-family: 'PoiretOne', sans-serif;
  font-weight: 400;
}

.title {
  @extend %poir-400;
  font-size: rem(48);
  line-height: math.div(46 , 48);
  color: $accent;
}




//Лекарство к Fancybox
@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}